  <%-include('../partials/adminDashHeader.ejs') %>


  <main>
      <div class="row">
        <div class="col-md-8 mb-4 mx-auto mb-4  mt-5">
          <div class="card mb-4" style="background-color:#f5f5f7;">
            <div class="card-header py-3">
              <h5 class="mb-0">Add product</h5>
            </div>
            <div class="card-body">
              
              <form id="addProductForm" enctype="multipart/form-data">
                <div class="card shadow-0 ">
                  <div class="p-4" style="background-color:#f5f5f7;">
                    <div class="row">
                    </div>
                    <p id="alert"></p>
                    <div class="col-sm-12 col-12 mb-3">
                      <div class="category_img_section_center">
                        <div class="add_category_img_preview">
                            <img id="imagePreview" src="#" alt="Image Preview" width="100%" height="100%">
            
                            
                        </div>
                        
                        <div class="add_category_img_choose">
                            Choose File
                            <input type="file" id="imageInput" name="image" accept="image/*"  multiple onchange="previewImage(this)" style="width: 100%;height: 100%;position: absolute; opacity: 0;" >
            
                        </div>
            
                    </div>
                    </div>
                    

                    
                    <div class="row">
                      
                      <div class="col-sm-8 ">
                        <p class="mb-0">product name</p>
                        <div class="form-outline">
                          <input required type="text" name="name" class="form-control" id="productName"
                          placeholder="Enter Product Name">
                        </div>
                      </div>
                      
                      
                      
                      <div class="col-sm-8 mb-3">
                        <p class="mb-0">Discription</p>
                        <div class="form-outline">
                            <textarea name="description"   class="form-control" id="productDescription" placeholder="Enter Description"></textarea>
                        </div>
                      </div>

                      
                      
                      <div class="col-sm-4 mb-3">
                        <p class="mb-0">product price</p>
                        <div class="form-outline">
                          <input required type="number" name="price" class="form-control" id="productPrice"
                          placeholder="Enter Product Price">
                        </div>
                        <p class="mb-0" id="PriceWarning" style="display: none; color: red;">price should be positive
                          value</p>
                        </div>

                        <div class="col-sm-3 mb-3">
                          <p class="mb-0">Add Stock</p>
                        <div class="form-outline">
                          <input required type="number" name="stock" class="form-control" id="productStock"
                          placeholder="Enter Product Stock">
                        </div>
                        <p class="mb-0" id="PriceStock" style="display: none; color: red;">stock should be positive
                          value</p>

                      </div>
                      
                      <div class="col-sm-3 mb-3">
                        <p class="mb-0">SubCategory</p>
                          <div class="form-outline">
                            <select name="subcategory" id="subCategory" class="form-control">
                              <option value="" selected>Select an option</option>
                              <% categoryList.forEach((category)=>{ %>
                                <%category.subCategory.forEach((sub)=>{ %>

                                  <option value="<%= sub %>"><%= sub %></option>
                              <% }) %>
                              <% }) %>
                            </select>
                          </div>
                        </div>
                        
                        <div class="col-sm-3 mb-3">
                          <p class="mb-0">Discount(%)</p>
                          <div class="form-outline">
                          <input required type="number" name="discount" class="form-control" id="productDiscount"
                          placeholder="Enter Product Discount">
                        </div>
                        <p class="mb-0" id="PriceDiscount" style="display: none; color: red;">Discount Less than 90% And
                          above 0% </p>
                          
                        </div>
                        
                        <div class="col-sm-3 mb-3">
                          <p class="mb-0">category</p>
                        <div class="form-outline">
                          <select name="category" id="productCategory" class="form-control">
                            <option value="" selected>Select an option</option>
                            <% categoryList.forEach((category)=>{ %>
                              <option value="<%= category.categoryName %>"><%= category.categoryName %></option>
                              <% }) %>
                            </select>
                          </div>
                        </div>

                        <div class="modal-box">
                          <div class="sd-multiSelect form-group">
                            <label for="colors">Colors</label>
                            <select multiple id="productColors" class="sd-CustomSelect" name="colors[]">
                              <option value="Red">Red</option>
                              <option value="Black">Black</option>
                              <option value="White">White</option>
                              <option value="Green">Green</option>
                              <option value="Blue">Blue</option>
                              <option value="Yellow">Yellow</option>
                            </select>
                          </div>
                        </div>
                    
                        <div class="modal-box">
                          <div class="sd-multiSelect form-group">
                            <label for="current-job-role">Size</label>
                            <select multiple id="productSize" class="sd-CustomSelect" name="size">
                              <option value="XXL">XXL</option>
                              <option value="XL">XL</option>
                              <option value="L">L</option>
                              <option value="M">M</option>
                              <option value="S">S</option>
                              <option value="Free-size">Free size</option>
                            </select>
                          </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                          <p class="mb-0">Return Policy</p>
                          <div class="form-check">
                              <input type="checkbox" value="true" class="form-check-input" id="returnPolicy" name="returnPolicy">
                              <label class="form-check-label" for="returnPolicy">Accept return policy</label>
                          </div>
                      </div>
                      
                  </div>


                  <p class="errorMg" style="color: red !important; text-align: center;"></p>
                  <div class="float-end">
                    <button type="submit" id="submitbtn" class="btn btn-success shadow-0 border"
                    style="background-color: #000000;">Continue</button>
                  </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <script src="/js/admin.js"></script>
      <script>
        function previewImage(input) {
          var preview = document.getElementById('imagePreview');
          var file = input.files[0];
          var reader = new FileReader();
          
          reader.onloadend = function () {
            preview.src = reader.result;
          }
          
              if (file) {
                  reader.readAsDataURL(file);
              } else {
                  preview.src = "";
              }
            }
            
            $(document).ready(function() {
    if ($('.sd-CustomSelect').length > 0) {
        $(".sd-CustomSelect").multipleSelect({
            selectAll: false,
            onOptgroupClick: function(view) {
                $(view).parents("label").addClass("selected-optgroup");
            }
        });
    }
});

      </script>
      <script src="/js/addProduct.js" async></script>
    </main>
    <%-include('../partials/adminDashFooter.ejs') %>