<%-include('../partials/adminDashHeader.ejs') %>
<main>
    <div class="table-data">
        <div class="order">
            <p id="errorMsg"  style="color: green; text-align: center;" ></p>
            <div class="head">
                <h3>Categories</h3>
               
                <a href="#" class="pagination-icon" onclick="changePage(-1)">
                    <i class='bx bxs-chevron-left'></i>
                </a>
                <input type="number" id="pageNumberInput" value="1" min="1" max="10" onkeydown="jumpOnEnter(event)"> <!-- Set max value as needed -->
                <a href="" class="pagination-icon" onclick="changePage(1)">
                    <i class='bx bxs-chevron-right'></i>
                </a>
                <i class='bx bx-filter'></i>
                <a href="/admin/addCategory">
                    <i class='bx bxs-plus-circle' style="font-size: larger;"></i>
                </a>
            </div>
            
            
            
            <table>
                <thead>
                    <tr>
                        
                        <th>Category</th>
                        <th>Image</th>
                        <th>Sub category</th>
                        <th>Actions</th> <!-- Added Actions column -->
                    </tr>
                </thead>
                <tbody>
                    <% categoryList.forEach(category=>{ %>
                    
                    
                    <tr class="tr_td<%= category._id%>">
                    
                        
                        <td><%= category.categoryName %></td>
                        <td>
                            <img src="/uploads/category/<%=category.categoryimage%>" alt="<%=category.categoryName%>">
                            
                        </td>
                        <td>
                            <ul style="list-style-type: disc !important">
                                <% category.subCategory.forEach(subcategory => { %>
                                    <li>-><%= subcategory %></li>
                                <% }) %>
                            </ul>
                            
                        </td>
                       
                        <td>
                            <a href="/admin/edit-category/<%=category._id%>" class="edit-btn" title="Edit Order">
                                <i class='bx bx-edit'></i>
                            </a>
                            <a href="#"  data-category-id = "<%=category._id%>" onclick="deletion(event)"  class="delete-btn" title="Delete Order" style="color: red;">
                                <i class='bx bx-trash'></i>
                            </a>
                        </td>
                    </tr>
               <% })%>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- MAIN -->

		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
    
	
    <script >

        async function deleteCategory(categoryId){
            const response = await axios.delete(`/admin/delete/${categoryId}`);
            
           try {
            if (response.status >= 200 && response.status <= 300){
                document.querySelector('.tr_td'+categoryId).remove()
                errorMsg.style.visibility='visible'
                errorMsg.innerHTML = response.data.message
                setTimeout(() => {
                    errorMsg.innerHTML = ''
                }, 1000);
               
            }else{
                errorMsg.style.visibility = 'visible'
                errorMsg.innerHTML = response.data.message
                setTimeout(() => {
                    errorMsg.innerHTML = ''
                }, 1000);
                console.log('error');
            }
           } catch (error) {
            console.log('Error deleting user', error);
            errorMsg.style.visibility = 'visible';
            errorMsg.innerHTML = 'error';
           }
        }
        

    const errorMsg = document.getElementById('errorMsg')
        async function deletion (event) {
              event.preventDefault();
          
              
              const categoryId = event.currentTarget.getAttribute('data-category-id');
          
              if (categoryId) {
                await deleteCategory(categoryId);
              }
           
          };
        </script>

       
	<script src="/js/admin.js"></script>
</body>
</html>