<%-include('../partials/adminDashHeader.ejs') %>
<main>
    <div class="table-data">
        <div class="order">
            <p id="errorMsg"   text-align: center;" ></p>
            <div class="head">
                <h3>Products</h3>
               
                <a href="/admin/product?page=<%= paginationInfo.prevPage%>" class="pagination-icon">
                    <i class='bx bxs-chevron-left'></i>
                </a>
                <input type="number" id="pageNumberInput" value="<%= paginationInfo.page %>" min="1" max="<%= paginationInfo.totalPages %>" onkeydown="jumpOnEnter(event)">
                
                    <a href="/admin/product?page=<%= paginationInfo.nextPage%>" class="pagination-icon">
                        <i class='bx bxs-chevron-right'></i>
                    </a>
               
                <!-- End Pagination controls -->
                <i class='bx bx-filter'></i>
                <a href="/admin/addproduct">
                    <i class='bx bxs-plus-circle'></i>
                </a>
            </div>
            
            
            
            <table>
                <thead>
                    <tr>
                        
                        <th>Image</th>
                        <th>stock</th>
                        <th>price</th>
                        <th>Date product added</th>
                        
                        <th>Actions</th> <!-- Added Actions column -->
                    </tr>
                </thead>
                <tbody>
                    <% products.forEach(product=>{ %>
                    
                    
                    <tr class="table-row<%=product._id%>">
                       
                        <td>
                            <img src="/uploads/products/<%=product.image[0]%>" alt="<%=product.name%>">
                            <p><%=product.name%></p>
                        </td>
                        <td><%= product.stock %></td>
                        <td><%= product.price %></td>
                        <td><%= product.productAdded %></td>
                        
                        <td>
                            <a href="/admin/edit-product/<%=product._id%>" class="edit-btn" title="Edit Order">
                                <i class='bx bx-edit'></i>
                            </a>
                            <a href="#" class="delete-btn" data-category-id="<%=product._id%>" onclick="deletion (event)" title="Delete Order">
                                <i class='bx bx-trash' style="color: red;"></i>
                            </a>
                        </td>
                    </tr>
               <% })%>
                    <!-- Add more rows as needed -->
                </tbody>
            </table>
        </div>
    </div>
</main>
<!-- MAIN -->

		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	

	<script src="/js/admin.js"></script>
    <script>
        async function deleteProduct(id){
            const response = await axios.delete(`/admin/delete/${id}`)
            try {
                if(response.status >=200){
                    document.querySelector('.table-row'+id).remove();
                    errorMsg.style.visibility = 'visible'
                    errorMsg.classList.add('success');
                errorMsg.innerHTML = response.data.message
                setTimeout(()=>{
                    errorMsg.innerHTML =''
                },1000)
            } else {
                errorMsg.style.visibility = 'visible'
                errorMsg.classList.add('success');
                errorMsg.innerHTML = response.data.error
            }
            } catch (error) {
                errorMsg.classList.add('success');
            errorMsg.style.visibility = 'visible';
            errorMsg.innerHTML = 'An error occurred while deleting the user.';
            }

        }
        const errorMsg = document.getElementById('errorMsg')
        async function deletion (event) {
              event.preventDefault();
          
              
              const id = event.currentTarget.getAttribute('data-category-id');
              console.log(id);
          
              if (id) {
                await deleteProduct(id);
              }
           
          };
          function jumpOnEnter(event) {
        if (event.key === 'Enter') {
            const pageNumber = parseInt(event.target.value);
            const max = event.currentTarget.getAttribute('max');
            if (!isNaN(pageNumber) ) {
                if (pageNumber > max) { 
                    window.location.href = `/admin/product?page=${max}`;
                } else {
                    window.location.href = `/admin/product?page=${pageNumber}`; 
                }
            }
        }
    }
</script>
</body>
</html>