<!-- include footer -->
<%-include('../partials/adminDashHeader.ejs') %>
    <!-- /include footer -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />


    <!-- CONTENT -->
    <section id="content">


        <!-- MAIN -->
        <main>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Add Coupon</h3>
                    </div>
                    <div class="container coupon-container">
                        
                        
                        
                        <form action="/admin/edit-coupon/<%=coupon[0]._id%>" method="post" id="formdata">
                            <div class="form-group">
                                <label for="coupon-code">Coupon Code</label>
                                <input type="text" class="form-control" id="coupon-code"  name="couponCode" required value="<%=coupon[0].couponCode%>">
                                <small id="coupon-code-error" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="coupon-code">Coupon Name</label>
                                <input type="text" class="form-control" id="coupon-code"  name="couponName" required value="<%=coupon[0].couponName%>">
                                <small id="coupon-code-error" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="discount">Discount (%)</label>
                                <input type="number" class="form-control" id="discount" placeholder="Enter Discount Percentage" name="discount" required value="<%=coupon[0].discount%>">
                                <small id="discount-error" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="discount">purchase above</label>
                                <input type="number" class="form-control" id="discount" placeholder="Enter Discount Percentage" name="purchaseAbove" required value="<%=coupon[0].purchaseAbove%>">
                                <small id="discount-error" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="valid-from">Valid From</label>
                                <input type="date" class="form-control" min="" id="valid-from" name="validFrom" required value="<%=coupon[0].validFrom%>">
                                <small id="valid-from-error" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="valid-to">Valid To</label>
                                <input type="date" class="form-control" min="" id="valid-to" name="validTo" required value="<%=coupon[0].validTo%>">
                                <small id="valid-to-error" class="text-danger"></small>
                            </div>
                            <h1></h1>
                            <button type="submit" class="btn" style="background-color: #00224e; color: white;" id="submitBtn">Edit Coupon</button>
                            <p class="msg" style="text-align: center;"></p>
                        </form>
                        
                    </div>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->
   <!-- Your HTML and EJS code -->

<script src="/js/admin.js"></script>
<script>
    const submit = document.getElementById('submitBtn');
    const form = document.getElementById('formdata');
    
    submit.addEventListener('click', async (event) => {
        event.preventDefault();
        const msg = document.querySelector('.msg');
        
        try {
            const formData = new FormData(form);
            const data = Object.fromEntries(formData.entries());
            const response = await axios.post('/admin/edit-coupon/<%=coupon[0]._id%>', data);
           

            if (response.status === 200) {
                msg.style.visibility = 'visible';
                msg.classList.add('success');
                msg.innerHTML = response.data.msg;

                setTimeout(() => {
                    msg.innerHTML = '';
                    window.location.href = '/admin/coupons';
                }, 1000);
            }
        } catch (error) {
            console.error('Error:', error);
            msg.style.visibility = 'visible';
            msg.classList.add('error');
            msg.innerHTML = response.data.msg;
        }
    });

        let today = new Date().toISOString().split('T')[0];
         document.getElementById("valid-from").setAttribute("min", today);
         document.getElementById("valid-to").setAttribute("min", today);
         
</script>
</body>
</html>
