<%-include('../partials/adminDashHeader.ejs') %>
    <!-- /include footer -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet" />
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet" />
    <!-- MDB -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />


    <!-- CONTENT -->
    <section id="content">


        <!-- MAIN -->
        <main>
            <div class="table-data">
                <div class="order">
                    <div class="head">
                        <h3>Add Banner</h3>
                    </div>
                    <div class="container coupon-container">
                        
                        
                        
                        <form action="#" id="bannerForm"   method="post" >

                            <div class="category_img_section_center">
                                <div class="add_category_img_preview">
                                    <img id="imagePreview" src="/uploads/banners/<%=banner.bannerImage%>" alt="Image Preview" width="100%" height="100%">
                    
                                    
                                </div>
                                <div class="add_category_img_choose">
                                    Choose File
                                    <input type="file" id="imageInput" name="bannerImage" accept="image/*" onchange="previewImage(this)" style="width: 100%;height: 100%;position: absolute; opacity: 0;">
                                    
                                </div>
                                
                                
                            </div>



                            <div class="form-group">
                                <label for="coupon-code">Banner Name</label>
                                <input type="text" class="form-control" id="bannerName" value="<%=banner.bannerName %>" placeholder="Enter Banner Name" name="bannerName" required>
                                <small id="coupon-code-error" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="coupon-code">Banner Heading</label>
                                <input type="text" class="form-control" id="bannerHeading" value="<%=banner.bannerHeading %>" placeholder="Enter Banner Name" name="bannerHeading" required>
                                <small id="coupon-code-error" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="coupon-code">specialPrice</label>
                                <input type="text" class="form-control" id="specialPrice" value="<%=banner.specialPrice %>" placeholder="Enter Banner Name" name="specialPrice" required>
                                <small id="coupon-code-error" class="text-danger"></small>
                            </div>
                            
                            
                            <div class="form-group">
                                <label for="valid-from">Valid From</label>
                                <input type="date" class="form-control" id="valid-from" min="" value="<%=banner.validFrom.toISOString().substring(0, 10)%>" name="validFrom" required>
                                <small id="valid-from-error" class="text-danger"></small>
                            </div>
                            <div class="form-group">
                                <label for="valid-to">Valid To</label>
                                <input type="date" class="form-control" min="" id="valid-to" value="<%=banner.validTo.toISOString().substring(0, 10)%>" name="validTo" required>
                                <small id="valid-to-error" class="text-danger"></small>
                            </div>
                            <h1></h1>
                            <button type="submit" class="btn" style="background-color: #00224e; color: white;" id="addBtn">Add banner</button>
                            <p class="msg" style="text-align: center;"></p>
                        </form>

                    </div>
                </div>
            </div>
        </main>
        <!-- MAIN -->
    </section>
    <!-- CONTENT -->
   
<script src="/js/admin.js"></script>
<script>
    const submit = document.getElementById('addBtn')
    const form = document.getElementById('bannerForm')
    submit.addEventListener('click',async(event)=>{
        event.preventDefault();
        const msg = document.querySelector('.msg')
        try{
            const formData = new FormData(form)
            const data = Object.fromEntries(formData.entries());
            const response = await axios.post('/admin/edit-banner/<%=banner._id%>',data,{
                headers:{
                    'Content-Type':"multipart/form-data"
                }
            })
            
            if (response.status === 200) {
                msg.style.visibility = 'visible';
                msg.classList.add('success');
                msg.innerHTML = response.data.message;

                setTimeout(() => {
                    msg.innerHTML = '';
                    window.location.href = '/admin/banners';
                }, 1000);
            }
        }catch (error) {
            console.error('Error:', error);
            msg.style.visibility = 'visible';
            msg.classList.add('error');
            msg.innerHTML = response.data.message;
        }
    })

    function previewImage(input) {
            var preview = document.getElementById('imagePreview');
            var file = input.files[0];
            var reader = new FileReader();

            reader.onloadend = function () {
                preview.src = reader.result;
            }

            if (file) {
                reader.readAsDataURL(file);
            } else {
                preview.src = "";
            }
        }

        let today = new Date().toISOString().split('T')[0];
         document.getElementById("valid-from").setAttribute("min", today);
         document.getElementById("valid-to").setAttribute("min", today);
</script>
<%-include('../partials/adminDashFooter.ejs') %>