
  <header>
    <%-include('../partials/header2.ejs') %>
  </header>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">You are not logged in Please Log in</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" ></button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
          <button type="button" class="btn btn-black"onclick="window.location.href='/login'" >Login</button>
        </div>
      </div>
    </div>
  </div>

  <section class="">
    <div class="container">
      <div class="row">
        <!-- sidebar -->
        <div class="col-lg-3 mt-5">
          <!-- Toggle button -->
          <button class="btn btn-outline-secondary mb-3 w-100 d-lg-none" type="button" data-mdb-toggle="collapse"
            data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span>Show filter</span>
          </button>
          <!-- Collapsible wrapper -->
          <div class="collapse card d-lg-block mb-5" id="navbarSupportedContent">
            <div class="accordion" id="accordionPanelsStayOpenExample">
              <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#panelsStayOpen-collapseOne" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseOne">
                    Shop By Categories
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show"
                  aria-labelledby="headingOne">
                  <div class="accordion-body">
                    <ul class="list-unstyled">
                      <li><a href="/allproducts" class="text-dark" onclick="">All</a></li>
                      <% let categorysName  %>
                      <% categories.forEach((category)=>{ %>
                        <li>
                          <label>
                            <a href="/allproducts?category=<%= category.categoryName %>" class="text-dark" onclick=""><%= category.categoryName %></a></li>
                            
                          </label>
                        </li>
                        <% }) %>

                    </ul>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#panelsStayOpen-collapseTwo" aria-expanded="true"
                    aria-controls="panelsStayOpen-collapseTwo">
                    Colors
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse show"
                  aria-labelledby="headingTwo">
                  <div class="accordion-body">
                    <div>

                      <div class="form-check">
                        <input class="form-checkbox-input colorCheck"  <% if(selectedColor.includes('Red')) { %> checked <% } %> type="checkbox" value="Red"  onclick="filterByColor(event,'Red')"/>
                        <label class="form-checkbox-label" for="checkbox">
                          Red
                        </label>
                        <input class="form-checkbox-input colorCheck"  <% if(selectedColor.includes('Black')) { %> checked <% } %> type="checkbox" value="Black"  onclick="filterByColor(event,'Black')" />
                        <label class="form-checkbox-label" for="checkbox">
                          Black
                        </label>
                        <input class="form-checkbox-input colorCheck"  <% if(selectedColor.includes('Yellow')) { %> checked <% } %> type="checkbox" value="Yellow" onclick="filterByColor(event,'Yellow')"/>
                        <label class="form-checkbox-label" for="checkbox">
                          Yellow
                        </label>
                        <input class="form-checkbox-input colorCheck" <% if(selectedColor.includes('Green')) { %> checked <% } %> type="checkbox" value="Green" onclick="filterByColor(event,'Green')" />
                        <label class="form-checkbox-label" for="checkbox">
                          Green
                        </label>
                        <input class="form-checkbox-input colorCheck" type="checkbox" <% if(selectedColor.includes('Blue')) { %> checked <% } %> value="Blue" onclick="filterByColor(event,'Blue')" />
                        <label class="form-checkbox-label" for="checkbox">
                          Blue
                        </label>
                        <input class="form-checkbox-input colorCheck"  <% if(selectedColor.includes('White')) { %> checked <% } %> type="checkbox" value="White" onclick="filterByColor(event,'White')" />
                        <label class="form-checkbox-label" for="checkbox">
                          White
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="accordion-item">
                <h2 class="accordion-header" id="headingThree">
                  <button class="accordion-button text-dark bg-light" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#panelsStayOpen-collapseThree" aria-expanded="false"
                    aria-controls="panelsStayOpen-collapseThree">
                    Price
                  </button>
                </h2>
                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse show"
                  aria-labelledby="headingThree">
                  <div class="accordion-body">
                    <!-- <div class="range">
                      <input type="range" class="form-range" id="customRange1" />
                    </div> -->
                    <form action="" id="fromPrice">

                      <div class="row mb-3">
                        <div class="col-6">
                          <p class="mb-0">
                            Min
                          </p>
                          <div class="form-outline">
                            <input type="number" name="minPrice" id="typeNumber" class="form-control minPrice" value="" />
                            <label class="form-label" for="typeNumber">Min Price</label>
                          </div>
                        </div>
                        <div class="col-6">
                          <p class="mb-0">
                            Max
                          </p>
                          <div class="form-outline">
                            <input type="number" name="maxPrice" id="typeNumber" class="form-control maxPrice" value="" />
                            <label class="form-label" for="typeNumber">Max Price</label>
                          </div>
                        </div>
                      </div>
                      <button type="submit" class="btn btn-white w-100 border border-secondary applyPrice">apply</button>
                    </form>

                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
        <!-- sidebar -->
        <!-- content -->
        <div class="col-lg-9">
          <header class="d-sm-flex align-items-center border-bottom mb-4 pb-3">
            <!-- <strong class="d-block py-2">32 Items found </strong> -->
            <div class="ms-auto">
              <select class="form-select d-inline-block w-auto border pt-1" onchange="sortProducts(this.value)">
                <option value="">Default</option>
                <option value="priceAsc">Price: Low to High</option>
                <option value="priceDesc">Price: High to Low</option>
            </select>            
            </div>
          </header>

          <div class="row">
            <% products.forEach((product)=>{ %>
            <% let discount  = product.discount %>
            <% let price = product.price %>
            <% let discountedPrice = parseInt(price - (price * discount/100)) %>

            <div class="col-lg-4 col-md-6 col-sm-12 mb-4 product" onclick="redirectToProduct('<%=product._id%>')">
              <div class="card h-100 position-relative" >
                    <a onclick="addToWhislist('<%=product._id%>',event)"  class="wishlist-icon position-absolute top-0 end-0 mt-2 ps-2 pe-2 wish<%=product._id%> "  style=" font-size: 20px; color: rgb(185, 185, 185); "><i 
                      class="fas fa-heart"></i></a>
                <% if(discountedPrice>0) {%>
                
                    <div class="discount-badge position-absolute top-0 start-0 mt-2   px-2 py-1"
                      style="background-color: #febd69; color: #131921; border-radius: 90px;margin-left: 8px; font-weight: bolder;font-size:x-small;">
                    <%=discount%> % OFF
                    </div>
                <% }%>
                <img src="/uploads/products/<%=product.image[0] %>" class="card-img-top main-image"
                style="aspect-ratio: 1 / 1" />
              <img src="/uploads/products/<%=product.image[1] %>" class="card-img-top  hover-image"
                style="aspect-ratio: 1 / 1 ;display: none;" />

              <div style="padding-bottom: 0;" class="card-body d-flex flex-column justify-content-center pt-1">
                <h5 class="card-text" style="color: #000000; text-align: center; cursor: pointer;" onclick="redirectToProduct('<%= product._id %>')">
                  <%=product.name%>
                  </ h5>
                </div>
                  
                <div style="display: flex; align-items: center; gap: 1rem; justify-content: center; margin: 1rem 0;">
                  <p style="padding: 0; margin: 0;  text-decoration: line-through;color: red;">₹<%=product.price%></p>
                  <p class="card-text" style="font-weight: 400;font-size: 18px;letter-spacing: .3px; color: #1c1b1b;font-family: 'Rubik', sans-serif" >
                    ₹<%=discountedPrice%>
                  </p>

                
              </div>
              <div class="d-flex align-items-center justify-content-center pb-3 px-0 pb-0 mt-auto">
                <% const productId = product._id.toString(); %>
                <% if (!cart || cart.productId.length === 0) { %>
                    <a  class="btn btn-primary shadow-0 me-1 cart<%= product._id %>" style="background-color: black;" onclick="addingToCart('<%= product._id %>', event)">Add to cart</a>
                <% } else { %>
                    <% const productInCart = cart.productId.some(item => item.id.toString() === productId); %>
                    <% if (productInCart) { %>
                        <a href="/view_cart" class="btn btn-primary shadow-0 me-1" style="background-color: black;">Go to cart</a>
                    <% } else { %>
                        <a  class="btn btn-primary shadow-0 me-1 cart<%= product._id %>" style="background-color: black;" onclick="addingToCart('<%= product._id %>', event)">Add to cart</a>
                    <% } %>
                <% } %>
            </div>
            
            
        </div>
      </div>
                <% }) %>
          </div>
          <hr />
        </div>


        <!-- Pagination -->
        <% var page = parseInt(page) || 1; %>
        <% var categoryName = categoryName || ''; %>
        <% var total=total ||0 %>
        <% var limit=limit || 9 %>
        <% var noPages = Math.ceil(total / limit); %>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center mt-3">
          <ul class="pagination">
            <li class="page-item <%= page === 1 ? 'disabled' : '' %>">
              <a class="page-link" href="/allproducts?category=<%= categoryName %>&page=<%= page - 1 %>" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>  
              </a>
            </li>
            <% for (let i=0; i < noPages; i++) { %>
            <li class="page-item <%= (page === (i + 1) )? 'active' : '' %>">
              <a class="page-link" href="/allproducts?category=<%= categoryName %>&page=<%= i + 1 %>">
                <%= i + 1 %>
              </a>
            </li>
            <% } %>
            <li class="page-item <%= page === noPages ? 'disabled' : '' %>">
              <a class="page-link" href="/allproducts?category=<%= categoryName %>&page=<%= page + 1 %>" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>

        <!-- Pagination -->
      </div>
    </div>
    </div>
  </section>
  <!-- Footer -->
  <footer>
    <%- include('../partials/footer.ejs') %>
  </footer>
  <script>
    function sortProducts(selectedValue){
      window.location.href = `/allproducts?sort=${selectedValue}`
    }
    
function redirectToProduct(productId) {
    window.location.href = "/products_page?id=" + productId;
}
  document.querySelector('.applyPrice').addEventListener('click',function(){
    const minPrice = document.querySelector('.minPrice').value
    const maxPrice = document.querySelector('.maxPrice').value
    window.location.href = `/allproducts?minPrice=${minPrice}&maxPrice=${maxPrice}`
  })
  function filterByColor(event) {
        const checkboxes = document.querySelectorAll('.colorCheck:checked');
        const selectedColors = Array.from(checkboxes).map(checkbox => checkbox.value);
        const queryParams = selectedColors.map(color => `color=${color}`).join('&');
        window.location.href = `/allproducts?${queryParams}`;
    }

  </script>
</body>

  </html>