<header>
  <%-include('../partials/header.ejs') %>
</header>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">You are not logged in Please Log in</h5>
        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close" ></button>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-mdb-dismiss="modal">Close</button>
        <button type="button" class="btn btn-black"onclick="window.location.href='/login'" >Login</button>
      </div>
    </div>
  </div>
</div>

<!-- Jumbotron -->
<!-- Banner Slider -->
<div style="position: relative;" id="offerBanner" class="carousel slide" data-ride="carousel" data-interval="5000" data-wrap="true" >
  <div  class="carousel-inner">
    <% banners.forEach((banner,index) => { %>
      <div  class="carousel-item <%= index === 0 ? 'active' : '' %>" >
        <a href="#">
          <img src="/uploads/banners/<%= banner.bannerImage %>" class="d-block img-fluid w-100" alt="Image" style="aspect-ratio: 12/3;">
        </a>
      </div>
    <% }) %>
  </div>
  <!-- Controls -->
  <button class="carousel-control-prev" type="button" data-target="#offerBanner" data-slide="prev" >
    <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
    <span class="sr-only">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-target="#offerBanner" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </button>
</div>
<!-- Products Section -->
<section>
  <div class="container my-5">
    <header class="mb-4">
      <h3><%=title%></h3>
    </header>
    
    
    <div class="row">
      <div class="row"style="display: contents;">
        <% products.forEach((product) => { %>
          <% var discount=product.discount %>
            <% var Odiscount=parseInt(product.price * discount / 100 ) %>
              <% var showPrice=product.price-Odiscount %>

                <div class="col-lg-3 mt-3 col-md-3 col-sm-3 d-flex" onclick="redirectToProduct('<%=product._id%>')">
    
                  <div id="card" class="card w-100 my-2 border-" style="box-shadow: 0 0 10px #0000001a;" >
                    <a onclick="addToWhislist('<%=product._id%>',event)" class="wishlist-icon position-absolute top-0 end-0 mt-2 ps-2 pe-2 wish<%=product._id%> " data-product-id="<%=product._id%>" id="wish<%=product._id%>" style=" font-size: 20px; color: rgb(185, 185, 185); "><i class="fas fa-heart"></i></a>
                    <% if(discount> 0) { %>
                      <div class="discount-badge position-absolute top-0 start-0 mt-2 px-1 py-0" 
                        style="background-color: #febd69; color: #131921; border-radius: 90px; margin-left: 8px; font-size: 0.75rem; font-weight: bolder;">
                        <%= discount %>% OFF
                      </div>
                      <% } %>
                        
                        <img src="/uploads/products/<%=product.image[0] %>" class="card-img-top main-image"
                          style="aspect-ratio: 1 / 1" / >
                        <img src="/uploads/products/<%=product.image[1] %>"  class="card-img-top  hover-image"
                          style="aspect-ratio: 1 / 1 ;display: none;" />
                        <style>
                          .card-title {
                            display: -webkit-box;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            /* number of lines to show */
                          }
    
                          .card {
                            transition: transform 0.3s ease;
                          }
    
                          .card.hovered {
                            transform: scale(1.05);
                          }
    
                          .card .card-body {
                            transition: background-color 0.3s ease;
                          }
    
                          .card:hover .card-body {
                            background-color: white;
                          }
                        </style>
    
                        <div style="padding-bottom: 0;" class="card-body d-flex flex-column justify-content-center pt-1" >
                          <h5 class="card-text" style="color: #000000; text-align: center; cursor: pointer;" onclick="redirectToProduct('<%= product._id %>')">
                            <%=product.name%>
                            </ h5>
                          </div>
                            
                          <div style="display: flex; align-items: center; gap: 1rem; justify-content: center; margin: 1rem 0;">
                          <p style="padding: 0; margin: 0;  text-decoration: line-through;color: red;">₹<%=product.price%></p>
    
                          <p class="card-text" style="font-weight: 400;font-size: 18px;letter-spacing: .3px; color: #1c1b1b;font-family: 'Rubik', sans-serif">
                            ₹<%=showPrice.toLocaleString('en-IN')%>
                          </p>
                          
                        </div>
                        <div class=" d-flex align-items-center justify-content-center pb-3 px-0 pb-0 mt-auto">
                          <a   class="cartBtn btn btn-primary shadow-0 me-1 cart<%=product._id%>" style="background-color: black;" onclick="addingToCart('<%=product._id%>',event)">Add to cart</a>
                      </div>
                      
    
                  </div>
                </div>
                <% }) %>
      </div>
    </div>
    
  </div>
</section>
<!-- footer section  -->
<footer>
  <%- include('../partials/footer.ejs') %>
</footer>
<script>
  function redirectToProduct(productId) {
    window.location.href = "/products_page?id=" + productId;
}
</script>
<!-- footer section  -->
</body>
</html>