<!-- header section  -->

<%- include('../partials/header.ejs') %>
    <div>
        <!-- Heading -->
        </header>
        <!-- cart + summary -->
        <section class="bg-light my-5">
            <div class="container">
                <div class="row">
                    <!-- cart -->
                    <div class="col-lg-12">
                        <div class="card border shadow-0">
                            <div class="m-4">
                              <% if (!wishlistedItems) { %>
                                <h4 class="card-title wishlistTitle mb-4">Your Wishlist is empty</h4>
                              <% } else { %>
                                <h4 class="card-title wishlistTitle mb-4">Your Wishlist</h4>
                                <% wishlistedItems.productId.forEach((product) => { %>
                                    <div class="row gy-3 mb-4 wishing<%=product._id%>">
                                        <div class="col-lg-5">
                                            <div class="me-lg-5">
                                                <div class="d-flex">
                                                    <img src="/uploads/products/<%= product.image[0] %>"
                                                        class="border rounded me-3" style="width: 96px; height: 96px;" />
                                                    <div class="">
                                                        <a href="#" class="nav-link"><%= product.name %></a>
                                                        <!-- <p class="text-muted">Yellow, Jeans</p> -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-2 col-sm-6 col-6 d-flex flex-row flex-lg-column flex-xl-row text-nowrap">
                                            <div class="">
                                                <% let discount = product.discount %>
                                                <% let price = product.price %>
                                                <% let discountedPrice = parseInt(price - (price * discount / 100)) %>
                                                <text class="h6">$<%= discountedPrice %></text> <br />
                                                <small class="text-muted text-nowrap" style="color: red !important; text-decoration: line-through;"> $<%= price %></small>

                                            </div>
                                        </div>
                                        <div class="col-lg col-sm-6 d-flex justify-content-sm-center justify-content-md-start justify-content-lg-center justify-content-xl-end mb-2 ">
                                            <div class="float-md-end me-2">
                                                <a  class="btn btn-light border text-danger icon-hover-danger" onclick="deleteWishList('<%=product._id%>')">
                                                    Remove</a>
                                            </div>
                                            <div class="float-md-end ms-2">
                                                <a href="#" class="btn btn-light border text-white  bg-black">
                                                    Add to cart</a>
                                            </div>
                                        </div>
                                    </div>
                                <% }) %>
                              <% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cart + summary -->

        <!-- Recommended -->

        <footer>
            <%- include('../partials/footer.ejs') %>
        </footer>
        </body>

        </html>
